<%= form_tag([@user, @scorecard], 
	method: :patch, remote: true, id: "text-scores") do %>
	<td><%= text_field_tag :score4, nil, class: "form-control", placeholder: "#{dash_nils @scorecard.score4}"  %></td>
	<td><%= text_field_tag :score60, nil, class: "form-control", placeholder: "#{dash_nils @scorecard.score60}"  %></td>
	<td><%= text_field_tag :score5, nil, class: "form-control", placeholder: "#{dash_nils @scorecard.score5}"  %></td>
	<td><%= submit_tag "Update", class: "btn btn-default" %></td>
<% end %>