<% if current_user.no_scores? %>
	<div class="center">
    <p>You've not set any scores yet. <br />
      <hr />
      Why not 
      <%= link_to "browse all exercises", exercises_path %> or 
      <%= link_to "get a routine to practise", routine_path %>?
<% else %>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Exercise</th>
              <th>4 bars</th>
              <th>60 seconds</th>
              <th>5 minutes</th>
            </tr>
        </thead>
        <tbody>
        	<% @scorecards.each do |scorecard| %>
                <% unless scorecard.score4.nil? && scorecard.score60.nil? && scorecard.score5.nil? %>
                	<tr>
                		<td><%= link_to scorecard.exercise.name, scorecard %></td>
                		<td><%= dash_nils scorecard.score4 %></td>
                		<td><%= dash_nils scorecard.score60 %></td>
                		<td><%= dash_nils scorecard.score5 %></td>
            		</tr>
                <%end %>
    		<% end %>
    	</tbody>
    </table>
</div>
<% end %>

