<h1>This is a scorecard for <%= @scorecard.exercise.name %></h1>

<% if @scorecard.score4 %>
  <p>Your current score for 4 bars is <%= @scorecard.score4 %></p>
<% else %>
  <p>No score set.</p>
<% end %>

POST A SCORE: <%= form_tag("/users/#{current_user.id}/scorecards/#{@scorecard.id}", method: :patch) %>
<%= text_field_tag :score4 %><%= submit_tag "SCORE" %>
