
<h1><%= render @scorecard.exercise %></h1>


<% if @scorecard.score4 %>
  <h3>Your current score for 4 bars is <%= @scorecard.score4 %></h3>
<% else %>
  <h3>You haven't set a score yet.</h3>
  
  <p>Once you can play this rudiment for 4 bars without any mistakes, 
    set a metronome, and record a NEW HIGH SCORE!</p>  

<% end %>
<% if @scorecard.score60 %>
  <h3>Your current score for 60 seconds is <%= @scorecard.score60 %></h3>
<% else %>
  <h3>You haven't set a score for 60 seconds yet.</h3>
<% end %>

<% if @scorecard.score5 %>
  <h3>Your current score for 5 minutes is <%= @scorecard.score5 %></h3>
<% else %>
  <h3>You haven't set a score for 5 minutes yet.</h3>
<% end %>



<div class="row">
<%= form_tag("/users/#{current_user.id}/scorecards/#{@scorecard.id}", 
                    method: :patch, class: "navbar-form") do %>
  <div class="col-md-4">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">4 bars</span>
      <%= text_field_tag :score4, nil, class: "form-control", placeholder: "#{@scorecard.score4}"  %>
      <%= submit_tag "SCORE", class: "btn btn-default btn-danger" %>
    </div>
  </div>
  <% end %>
<%= form_tag("/users/#{current_user.id}/scorecards/#{@scorecard.id}", 
                    method: :patch, class: "navbar-form") do %>
  <div class="col-md-4">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">60 secs</span>
      <%= text_field_tag :score60, nil, class: "form-control", placeholder: "#{@scorecard.score60}"  %>
      <%= submit_tag "SCORE", class: "btn btn-default btn-danger" %>
    </div>
  </div>
  <% end %>
<%= form_tag("/users/#{current_user.id}/scorecards/#{@scorecard.id}", 
                    method: :patch, class: "navbar-form") do %>
  <div class="col-md-4">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">5 mins</span>
      <%= text_field_tag :score5, nil, class: "form-control", placeholder: "#{@scorecard.score5}"  %>
      <%= submit_tag "SCORE", class: "btn btn-default btn-danger" %>
    </div>
  </div>
</div>

<% end %>