<%= render @scorecard.exercise %>

<%= form_for @scorecard do |f| %>
	<%= f.label :score4 %>
	<%= f.text_field :score4 %>

	<%= f.label :score60 %>
	<%= f.text_field :score60 %>

	<%= f.label :score5 %>
	<%= f.text_field :score5 %>

	<%= f.submit %>
<% end %>

<div class="row">
  <div class="control-group"></div>
    <div class="col-md-4 col-md-offset-4 center top-padding">
      <p>
        <%= link_to "RESET scores", reset_scorecard_path(@scorecard), 
        	method: :post %>  
      </p>
    </div>
  </div>
</div>




