<%= render @exercise %>

<%= render "scorecards/score_table", object: @scorecard %>

<div class="row">
  <div class="control-group"></div>
    <div class="col-md-4 col-md-offset-4 center top-padding">
        <%= form_tag assign_path(@exercise.id) do %>
          <p>
          Make this my exercise for <%= select_tag "timeframe", "<option>Today</option><option>This Week</option><option>This Month</option>".html_safe %>
          <%= submit_tag "Assign", class: "btn btn-default btn-danger" %>
          </p>
        <% end %>  
        <p>
      	<%= link_to "Back to All Exercises", exercises_path %>
      </p>
    </div>
  </div>
</div>

